<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



  <div class="wrapper-header">
    <div class="header-container">Header</div>
    <nav class="nav"> </nav>
  
  </div>

  <div class="wrapper-inner ">
    <div class="sidebar-container"> Sidebar 
      <div class="sidenav">
        <ul>
            <li>Completed</li>
            <li>Uncompleted</li>
            <li>Deleted</li>
        </ul>
    </div>

    </div>
      <div class="serachBar-container fill-height-or-more"> 
        <div class="search-bar"> Search bar 

        </div>
  
      </div>
    <div class="calendar-container fill-height-or-more">
      <div class="calendar"> Calendar 

      </div>
     
    </div>
    

  </div>


<div 
  fxLayout="row wrap" 
  fxLayout.lt-sm="column" 
  fxLayoutGap="32px" 
  fxLayoutAlign="flex-start"> -->

  <!-- dummy loop -->
	 <ng-container *ngFor="let _ of [1]">

		<app-card 
      fxFlex="0 1 calc(33.3% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
    ></app-card>

	</ng-container>
</div>



<!-- <div class="toolbar">
  
  <mat-toolbar >    
    <button mat-icon-button class="link-btn" >
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="white-icon">menu</mat-icon>
    </button>

    <span style="margin-left: 15px;">Task Planer App</span>
  </mat-toolbar>

</div>  -->



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

